*
{
	margin: 0;
	padding: 0;
}

#container
{
	background: silver;
	margin: 0 auto;
	width: 1350px;
	height: 1000px;
}
	
	header
	{
		background: black;
		width: 100%;
		color: white;
	}
	.left_header
	{
		padding : 50px 0;
		font-family: arial;
		float: left;
	}
	
	nav
	{
		float: right;
	}
	nav ul
	{
		list-style-type: none;
	}
	nav ul li 
	{
		float: left;
		padding: 57px 30px;
		font-size: 20px;
		font-weight: bold;
		margin : 0px 2px;
	}	
	nav ul li:hover
	{
		background: orange;
	}
