*
{
	margin: 0;
	padding: 0;
	
}

#container
{
	width: 1200px;
	margin: 0 auto;
	border: 1px solid black;
	font-family: arial;
}
	#header
	{
		
		background: brown;
		width: 1180px;
		padding: 20px 10px;
		color: white;
		
	}
	#nav
	{
		
		background: orange;
		width: 12oopx;
		
	}
		#nav ul
		{
			list-style: none;
			
		}
			#nav ul li
			{
				float: left;
				width: 220px;
				padding: 15px 10px;
				text-align: center;
			}
			#nav ul li:hover
			{
				background: #ffd280;
				color: brown;
			}
			
			#nav a
			{
				color: black;
			}
	
	#middle
	{
		
		background: grey;
		width: 1200px;
		
	}
		#left
		{
			
			background: lightgreen;
			width: 800px;
			height: 300px;
			float: left;
			
			
		}
		#right
		{
			
			background: lightblue;
			width: 400px;
			height: 300px;
			float: left;
			
		}
	#footer
	{
		
		background: brown;
		width: 1200px;
		height: 50px;
		
	}
	