span
{
	height: 50px;
    width: 80px;
    background-color: #F0AA9F;
    display: inline-block;
}

div
{
	height: 70px;
    width: 300px;
    background-color: #B0AADD;
    display: inline-block;
}

p
{
	height: 100px;
	width: 150px;
	background-color: #88E85A;
}