header {
  background : #7ce10c;
}

h1, h2 {
  color: #000000;
  text-transform: uppercase;
}

h1 {
  text-align: center;
  color: #ffffff;
}

a {
  text-align: center;
  color: #ffffff;
  background: #2c5301;
}

img {
  display: none;
}
section {
  background: #929b05;
}